.topbar {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 70px;
    vertical-align: middle;
    background-color: #000000;
}

body {
    margin: 0;
    background: #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

canvas {
    width: 100%;
    height: 500px;
}

img {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin: 10px;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
    cursor: pointer;
}
#code-icon {
    float: left;
}
#right-icon {
    float: right;
}

footer {
    display: inline-block;
    height: auto;
    width: 100%;
    background-color: #000000;
    margin: 0;
}

p {
    display: inline-block;
    font-size: 10px;
    margin-left:50px;
    color: #ffffff;
    margin-right: 50px;
}

#time {
    float: right;
}

#start-text {
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 200px);
}

#play-text, #restart-text{
    position: absolute;
    top: calc(50% + 150px);
    left: calc(50% - 70px);
    cursor: pointer;
}

#gameover-text {
    position: absolute;
    top: 30%;
    left: calc(50% - 100px)
}

#boost-text {
    position: absolute;
    top: 12%;
    left: 2%;
    font-size: 14px;
    opacity: 0.2;
    margin: 0;
}

#leaderboard-section {
    display: none;
    position: absolute;
    text-align:center;
    top: 30%;
    left: 30%;
    right: 30%;
    bottom: auto;
    background: #000000;
    border: 1px solid #ffffff;
    color: #ffffff;
}

#leaderboard-content {
    margin: 20px;
}

text {
    display: inline-block;
    width: 40%;
}

h2 {
    height: auto;
    margin: 10px;
}

#cross {
    float: right;
    cursor: pointer;
    margin: 0;
}

#player-text {
    background: none;
    border: none;
    color: #ffffff;
    position: absolute;
    top: 12%;
    left: 90%;
    max-width: 8%;
    font-size: 14px;
    cursor: pointer;
}

